##### Set 
1. Unordered And Unindexed
2. Contains only unique elements
3. Represented by {}

![Library.jpeg](./Images/Library.jpeg)

In [ ]:
myBookCollection = ['Tharoorosaurus',
                    'Malnad Mysteries',
                    'Maharaja',
                    'Roads To Mussoorie',
                    'Here There And Everywhere',
                    'Jym Corbett Life in the wild',
                    'Malnad Mysteries']

In [ ]:
print(myBookCollection)
print("Total Books are "+ str(len(myBookCollection)))

In [ ]:
myBookCollectionUnique = <show only unique books>
print(myBookCollectionUnique)
print("Total Books are "+ str(len(myBookCollectionUnique)))

In [ ]:
print(type(myBookCollectionUnique))
print(myBookCollectionUnique)

![FriendsLibrary.jpeg](./Images/FriendsLibrary.jpeg)

In [ ]:
myFriendBookCollection = {'Roads To Mussoorie', 'Malnad Mysteries', 'Mantra Tanta Yantra','Living With Himalayan Masters','Autobiography Of The Yogi'}

In [ ]:

print(type(myFriendBookCollection))
print(myFriendBookCollection)

![sets-operations.png](./Images/sets-operations.png)

In [ ]:
#Common books in my Library and my frinds library

print(<common books>)

In [ ]:
#unique Books in both the libraries
print(myBookCollectionUnique<books which are unique>(myFriendBookCollection))

In [ ]:
#books which are present only in my library
print(<books only in my library>)

                                       Practice
    
    * An wildlife photographer covers Indian and African safari
    * He clicks following big-game animals in Africa
      "Hippopotamous","Lion","Rhino","Zebra","Mountain Gorilla","Leapord","Cheetah","Elephant"
    * He clicks following animals in India
      "Tiger","Lion","Cheetal","Sambar","Leapord","Elephant","Gaur","Lion Tailed Macaque"

![WildLifePhotography.webp](./Images/WildLifePhotography.webp)

#### Construct two set of Indian and African animals

In [ ]:
animalsOfIndia = <construct set>
animalsOfAfrica= <construct set>

#### Which are the common animals found in Africa and India

In [ ]:
<animals found only in africa>

#### Unique species of all the animal species he has taken the photography of

In [ ]:
< unique species of animals found both in india and africa>

#### List the animals found only in India

In [ ]:
<animals found only in India and not in Africa>